html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.form-group {
    float: left;
    /*border: 1px solid red;*/
}

.form-group {
    clear: right;
    margin-left: 10px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}